
#inscription-initial {
  margin-top: 10em;
}

#textcgv {
  margin-top: 10px;
  border: none;
  padding: 5px;
  font: 24px/36px sans-serif;
  width: 80%;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

#dbard {
  position: relative;
  margin-top: 3vw;
}


#disciplinaire {
  width: 75%;
  margin-left: 13%;
}

#curiosite {
  text-align: center;
  margin-left: 13%;
  width: 75%;
}





#bloc-paiement {
  color: #222831;
  font-weight: 900;
  display: none;
  text-align: center;
}

#bouton-cgv {
  white-space: normal;
  margin-left: 18vw;
  margin-right: 15vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

#googleformthp {
  width: 100%; 
  height: 1300px;
  display: none;
}

@media screen and (max-width: 810px) {
    #textcgv  {
        width: 100%;
    }
  }

