   
        <!--
        ==================================================
        Slider Section Start
        ================================================== -->
        <section id="hero-area" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="block wow fadeInUp" >
                            
                            <!-- Slider -->
                            <section class="cd-intro">
                                <h1 class="wow fadeInUp animated cd-headline slide"  >
                                <span>The Hacking<br>Project</span><br>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">GRATUIT</b>
                                    <b>OUVERT</b>
                                    <b>EXIGEANT</b>
                                </span>
                                </h1>
                                </section> <!-- cd-intro -->
                                <!-- /.slider -->
                                <h2 class="wow fadeInUp animated"  >
                                    En 11 semaines viens apprendre les bases de la programmation informatique.<br> Entrepreneur ? Salarié ? Chomeur ? Polytechnicien ? Manoeuvre ? Fonce !
                                </h2>
                                <%= link_to ("LE PROGRAMME"), cursus_path, class:"btn btn-default btn-contact wow fadeInDown"%>
                                <%= link_to ("S'INSCRIRE"), inscription_path, class:"btn btn-default btn-contact wow fadeInDown"%>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--/#main-slider-->
            <!--
            ==================================================
            Slider Section Start
            ================================================== -->
            <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInLeft" >
                                <h2>
                                Pourquoi ? 
                                </h2>
                                <p>
                                    Au XVIème siècle la question était la suivante : "La population doit-elle savoir lire et écrire ?" En 2017 cette question ne se pose plus. En 2050 tout le monde aura de solides bases en programmation informatique. Prenez de l'avance et changez de monde ! 
                                </p>
                                <p>
                                    Félix et Charles ont voulu créer pour vous un cursus ou vous ne serez pas stagiaire ou élève. Ils ont créé un cursus pour que vous deveniez des corsaires! <br>Que vous ne sachiez pas vous servir de Google Chrome ou que le compilateur n'ai aucun secret pour vous rassurez-vous, vous êtes les bienvenu(e)s.
                                </p>
                                <p>
                                    Lorsque vous sortirez de cette formation intensive, vous saurez: Développer le site de votre startup, impressionner vos amis, coder des scripts automatisant tout ce que vous n'aimez pas faire.
                                    Techniquement vous connaîtrez: HTML/CSS, JavaScript, Ruby, Ruby on Rails, SQL.
                                </p>
                            </div>
                            
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInRight" >
                                <%= image_tag("cdfg.jpg") %>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!--

            ==================================================
            Portfolio Section Start
            ================================================== -->
            <section id="feature">
                <div class="container">
                    <div class="section-heading">
                        <h1 class="title wow fadeInDown" >TOP 6 des raisons d'apprendre à coder</h1>
                        <p class="wow fadeInDown" >
                            Quelle est l'utilité d'apprendre à coder ? Je suis un biz guy/market guy, ce n'est pas pour moi ! <br> Faux ! Apprendre à coder te permet d'automatiser les tâches répétitives que tu réalises au quotidien. Apprendre à développer c'est comprendre le monde dans lequel tu évolues !
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInUp animated" >
                                <div class="media-left">
                                    <div class="icon">
                                        <i>1</i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Mieux se vendre ?</h4>
                                    <p>Tu cherches à impressionner les recruteurs et à faire la différence ? Apprends à coder !</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInDown animated" >
                                <div class="media-left">
                                    <div class="icon">
                                        <i>2</i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Tu es curieux?</h4>
                                    <p>Fonce, THP est ouvert à tous. Si tu souhaites découvrir de nouveaux langages, c'est le lieu parfait.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInDown animated" >
                                <div class="media-left">
                                    <div class="icon">
                                        <i>3</i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Tu veux devenir développeur ?</h4>
                                    <p>Avec beaucoup de travail tu peux y arriver ! Nous te formons trois mois puis nous te proposons des stages pour te perfectionner. Et si tu as des facilités? Nous te trouvons un travail à la sortie.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInDown animated" >
                                <div class="media-left">
                                    <div class="icon">
                                        <i>4</i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Tu as une idée ?</h4>
                                    <p>Mets la en pratique et développe ton MVP pour te permettre de prouver que ton concept peut marcher !</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInDown animated" >
                                <div class="media-left">
                                    <div class="icon">
                                        <i>5</i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Rails</h4>
                                    <p>Tu es développeur mais tu ne connais pas rails? Tu as la flemme d'apprendre seul? Viens!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInDown animated" >
                                <div class="media-left">
                                    <div class="icon">
                                        <i>6</i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Impressionner dans les dîners en ville!</h4>
                                    <p>Les gens seront fascinés. "Tu pourrais me donner un coup de main avec un bot facebook?".</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> <!-- /#feature -->
                            
            <!--
            ==================================================
            Call To Action Section Start
            ================================================== -->
            <section id="call-to-action">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="block">
                                <h2 class="title wow fadeInDown" >Tu veux apprendre à coder?</h1>
                                <p class="wow fadeInDown" >Alors fonce rejoindre le cursus qui révolutionne l'éducation !<br>Il n'y a pas de frein à l'entrée si ce n'est ta volonté de travailler et de te dépasser.</p>
                                <%= link_to ("Découvre le cursus"), cursus_path, class:"btn btn-default btn-contact wow fadeInDown"%>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>