
<div id="inscription-initial">

	<div id="curiosite">
		<div class="alert alert-danger" role="alert">
		  Disclamer/Attention: Pour éviter trop d'inscription "curiosité" nous avons décidé de mettre en place un processus d'inscription qui ne vous permet pas de ne pas vous engager à l'issu du remplissage de votre formulaire d'inscritpion. Tout ira bien, ne vous en faites pas ;)
		</div>
	</div>

	<div id="disciplinaire">
		<h1>Déroulé disciplinaire de la formation</h1>
		<h2>1. Inscription</h2>
			<p>1. Lors de votre inscritpion vous commencez par valider les conditions générales de vente.</p>
			<p>2. Vous renseignez votre carte bancaire pour le prélèvement des 1€ et l'enregistrement de votre carte</p>
			<p>3. Vous completez le formulaire google form</p>
			<p>4. Vous vous mettez au travail en commencant par la "track" ruby de "open class room".</p>
			<p>5. Vous recrutez au minimum 1 ami (ce n'est pas éliminatoire).</p>

		<h2>2. Motivation et dépassement de soi</h2>
			<p>1. Vous devez nous envoyer la capture d'écran de votre page ruby open class room terminé (vous ne pourrez pas débuter la formation et vous perdrez 200€ si vous ne validez pas cette étapes 3 jours avant le début de la session(le vendredi 12h qui précède le début de la formation)).</p>
			<p>2. Vous devez completer l'installfest avant le début de la formation (vous ne pourrez pas débuter la formation et vous perdrez 200€ si vous ne validez pas cette étapes 3 jours avant le début de la session(le vendredi 12h qui précède le début de la formation)).</p>
			<p>3. Vous devez recruter au minimum 1 ami (pas de sanctions si vous n'avez pas d'amis)</p>
			<p>4. Vous aurez un accès anticipé au slack avec un channel qui vous sera dédié à partir du 08/09/2017 pour vous aider dans vos tâches d'instalation et d'achèvement.</p>

		<h2>3. Déroulé de la formation</h2>
			<p>1. Vous aurez des "projets validants" à rendre en temps et en heure.</p>
			<p>2. En cas de non respect de la deadline une sanction de 30€ sera effectué sur le moussaillon en retard par prélèvement automatique. à 23h59 il sera bon, à 00h00 il ne sera plus possible de push sur github.</p>
			<p>3. Aucun motif valable ne sera accepté pour abandon de formation (si vous tombez gravement malade nous pourrons prendre en compte un justificatif d'un hopital).</p>


		<h2>Etapes inscription The_Hacking_Project:</h2>
		<p>1. Prendre connaissance de tous les détails de la formation (explorer le site, prendre contact via le formulaire, appeler en cas de doutes).</p>
		<p>2. Accepter les conditions générales de ventes</p>
		<p>3. Remplir le formulaire stripe avec sa carte bancaire</p>
		<p>4. Remplir le questionnaire (utilisation impératif de la même adresse email à toutes les étapes).</p>
	</div>

	<div data-spy="scroll" data-target="#myScrollspy" data-offset="20" id="dbard" >

		<div class="container">
	  		<div class="row">
	    		<nav class="col-sm-2" id="myScrollspy">
	      			<ul class="nav nav-pills nav-stacked">
	        			<li class="active"><a href="#section1">Conditions Générales de Vente</a></li>                     
	      			</ul>
	    		</nav>

	    		<div class="col-sm-8" id="textcgv">
	      			<h3>Qui sommes-nous ?</h3>

	  					<p>The_Hacking_Project est une <a href="https://www.societe.com/societe/the-hacking-project-830389920.html">société par actions simplifiée</a> au capital social de 10€ dont le siège social est au 47, rue du Caire et immatriculée au Registre du Commerce et des Sociétés de Paris sous le numéro de SIRET 83038992000018.</p>

	  				<h3>Quelle est la Formation proposée par The_Hacking_Project</h3>
			  			<p>The_Hacking_Project propose une formation ouverte à tous qui donne aux participants les clés de la boite à outils de l'informatique.<br><br>
			  			La formation s’organise par petits groupes de 5-8 personnes de niveaux hétérogènes qui travailleront ensemble pour apprendre le code de manière intense pendant 2,5 mois. Pendant cette formation, les participants apprendront notamment les langages informatiques HTML, CSS, Ruby, Rails, Javascript, JQuery, SQL. Ils seront invités à réaliser différents projets ou atteindre différents objectif (automatiser des emails, développer un site, ajouter une fonctionnalité), en s’appuyant sur des ressources en ligne et sur leur équipe.<br><br>
			  			The_Hacking_Project compte sur chacun de ses Participants pour apporter présence, entraide, soutien et encouragement aux autres membres de son groupe, « l’esprit de corps », et ainsi aider tous les membres d’un groupe à arriver au terme de la Formation </p>
	  				<h3>Nos Conditions de participation</h3>
	  		  			<p>Les présentes Conditions de Participation régissent votre participation à la Formation. La Formation pourra évoluer d’une session à une autre ou au cours d’une session. En tant que Participant, vous acceptez que nous puissions modifier le contenu et/ou le programme de la formation, ainsi que le choix des outils ou supports utilisés pour la Formation, et que vous puissiez devoir mettre à jour tout logiciel dont vous aurez besoin pour la Formation. Vous acceptez que les présentes Conditions s'appliquent auxdites mises à jour. Veuillez lire attentivement les présentes Conditions et <a href="mailto:bonjour@thehackingproject.org">contactez-nous</a> si vous avez des questions. En participant à notre Formation, vous acceptez d'être lié par les présentes Conditions, y compris les politiques référencées dans les présentes Conditions.</p>
	  				<h3>Définitions</h3>
	  		  			<p>Pour que ces conditions de participations soient lisibles, les mots commençant par une majuscule ont la signification particulière sui suit :</p>
	  				<ul style="font-size: 14px;">
	    	  			<li>Abandon : Lorsqu’un Participant n’uploade pas un Projet sur Github conformément au Calendrier, il est réputé abandonner la Formation.</li>
	    	  			<li>Calendrier : Programme de la Formation indiquant, semaine par semaine, quels seront les sujets abordés et prévoyant les Projets devant être uploadés sur Github sous peine d’Abandon.</li>
	    	  			<li>Conditions de Participation : les conditions présentées dans ce document et qui régissent votre Participation à la Formation.</li>
	    	  			<li>Contenu : tout le contenu qu’un Participant publiera ou partagera dans la cadre de la Formation, seul ou en groupe de contributeur et y compris (mais non exclusivement) les Projets uploadés sur Github.</li>
	    	  			<li>Formation : la formation que propose The_Hacking_Project SAS, dont le contenu et le rythme sont présentés dans le Calendrier.</li>
	    	  			<li>Groupe : groupe de 5 à 8 Participants travaillant ensemble dans un même lieu physique et devant se soutenir et s’encourager mutuellement.</li>
	    	  			<li>Github : Plateforme sur laquelle seront partagés les cours et sur laquelle les Participants devront uploader leurs Projets.</li>
	    	  			<li>Participant :  une personne physique qui suit la Formation.</li>
	    	  			<li>Projet : création de Contenu par un ou plusieurs Participant(s) devant être uploadé sur Github dans les délais prévus par le Calendrier, sous peine d’Abandon.</li>
	    	  			<li>Service Tiers : outils informatiques que les Participants utiliseront pour suivre la Formation et qui n’appartiennent ni à The_Hacking-Project, ni aux Participants.</li>
	  				</ul>
	  				<h2>Participation à The_Hacking_Project</h2>
	  				<h3>Qui peut participer à notre Formation</h3>
	  		  			<p>La Formation de The_Hacking_Project est organisée pour toute personne physique de plus de 15 ans sans pré-requis de connaissance technique ou d’expérience professionnelle.<br><br>
	  		  			Vous pouvez participer à notre Formation si vous avez la capacité juridique de conclure un contrat qui vous lie avec The_Hacking_Project. Pour les mineurs de plus de quinze ans, la preuve d’une autorisation parentale vous sera demandée avant le début de la Formation.<br><br>
	  		  			En vous inscrivant à la Formation, vous vous engagez à participer à la Formation dans le respect des présentes Conditions, des conditions des Services Tiers et de l'ensemble de la législation applicable.<br><br>
	  		  			Lorsque vous vous inscrivez, vous devez nous fournir des informations exactes et complètes, et vous acceptez de modifier vos informations afin qu'elles demeurent exactes et complètes.</p>
	  				<h3>Préalable à la formation</h3>
	  		  			<p>Aucune connaissance technique ni expérience professionnelle n’est requise pour s’inscrire à la Formation. Cependant pour préparer la Formation et permettre aux Participants de vérifier u’ils sont bien motivés, il leur est demandé de compléter la section <a href="https://www.codecademy.com/fr/learn/ruby">Ruby de CodeCademy</a>. Votre identifiant sous CodeAcademy vous sera demandé pour vérifier que vous avez bien rempli ce pré-requis.</p>
	  				<h2>Notre Formation</h2>
	  				<h3>Modifications du cours</h3>
	  		  			<p>Nous sommes fiers de notre Formation, cependant des événements inattendus (sans qu’ils relèvent nécessairement de la force majeure) peuvent se produire. The_Hacking_Project se réserve le droit d'annuler, d'interrompre ou de reporter une session de Formation, ou de modifier tout contenu d’une session de Formation ou la pondération de tous Projet, devoir, quiz ou autre évaluation. La Formation est proposée sous réserve des paragraphes Exonérations et limitations de responsabilité ci-dessous.</p>
	  				<h3>Aucun crédit universitaire</h3>
	  		  			<p>La participation à la Formation ou son achèvement ne confère aucun crédit universitaire. The_Hacking_Project, les enseignants et les Services Tiers n'ont aucune obligation de reconnaissance d'un cours par quelque établissement d'enseignement ou organisation d'accréditation que ce soit.</p>
	  				<h3>Exonération de relation étudiant(e)-université</h3>
	  		  			<p>Aucune disposition des présentes Conditions ou autres, relativement à votre participation à un cours : (a) n'établit de relation entre vous et un établissement d'enseignement auquel The_Hacking_Project pourrait être affiliée, quel qu'il soit ; (b) ne vous inscrit ou ne vous enregistre dans un établissement d'enseignement, quel qu'il soit ; ou (c) ne vous autorise à utiliser les ressources d'un établissement d'enseignement, quel qu'il soit.</p>
	  				<h2>Licence, Contenu et Propriété intellectuelle</h2>
	  				<h3>Notre licence pour vous</h3>
	  		  			<p>Sous réserve des présentes Conditions et de nos politiques (y compris la Politique d'utilisation acceptable, le Code d'honneur et les exigences et autres conditions d'admissibilité propres aux cours), nous vous accordons une licence limitée, personnelle, non exclusive, non transférable et révocable d'utilisation du contenu créé par The_Hacking_Project pour les besoins de notre Formation. Vous êtes en droit de télécharger le contenu provenant de notre Formation uniquement pour votre utilisation personnelle et non commerciale, sauf si vous obtenez l'autorisation écrite de The_Hacking_Project pour une autre utilisation.<br><br>
	  		  			Vous acceptez également de participer à The_Hacking_Project sous un seul compte d'utilisateur uniquement et de ne partager avec aucun tiers qui ne soit pas un Participant, l’accès à votre compte ou à des informations pour ledit compte. La participation à notre Formation ne vous accorde pas la propriété ni aucun droit de propriété intellectuelle sur la Formation ou le contenu auxquels vous accédez.</p>
	  				<h3>Propriété intellectuelle de Services Tiers</h3>
	  		  			<p>Pour les besoins de la Formation, il vous sera demandé d’utiliser du contenu, des logiciels, des sites Web des liens vers des sites Web et des services administrés par Tiers (les « Services Tiers »). Ces Services Tiers pourront être mis à disposition gratuitement ou payants, soumis à licence ou à copyright, ou au contraire libre de droits.<br><br>
	  		  			Il vous appartient en tant que Participant de respecter les droits de propriété intellectuelles des Tiers sur les Services Tiers, de respecter les conditions des licences tierces que vous avez souscrites et du copyright des contenus que vous utilisez, et d’être à jour du paiement des redevances ou autres frais éventuellement dues au titre de ces licences ou copyright ou autre droit de propriété intellectuelle.<br><br>
	  		  			The_Hacking_Project ne saurait être responsable de la violation par un Participant de tout droit de propriété intellectuelle de Services Tiers ou du non-respect de toute condition d’utilisation de Services Tiers.</p>
	  				<h3>Contenu de Services Tiers</h3>
	  		  			<p>De même, vous aurez l’occasion d’accéder à du contenu des tiers, ainsi qu'à des liens vers des sites Web et des services administrés par des tiers, et de les utiliser. The_Hacking_Project ne peut pas garantir que vous ne trouverez jamais dans ce contenu de tiers, dans le cadre de la Formation ou en dehors de celui-ci, des éléments que vous considérez choquants ou inappropriés de quelque autre façon que ce soit, ni de logiciels malveillants ou d'autres contaminants qui pourraient nuire à votre ordinateur, à votre appareil mobile ou aux fichiers qu'ils contiennent. The_Hacking_Project décline toute responsabilité relative à votre accès audit contenu de tiers ou à son utilisation.</p>
	  				<h2>Votre contenu</h2>
	  				<h3>Le Contenu d’un Participant</h3>
	  		  			<p>La Formation vous invitera à créer du Contenu, comme des Projets à réaliser, des exercices ou d'autres devoirs et à le partager en l’uploadant dans des dossiers dédiés sur Github, Services Tiers.<br><br>
	  		  			Vous créerez ce Contenu seul, en binôme ou en Groupe. Le Contenu uploadé sur Github sera réputé appartenir aux Participants contributeurs du dossier dans lequel le Contenu a été uploadé, et ces Participants contributeurs seront responsables du Contenu uploadé dans les dossiers dont ils sont les contributeurs, sous réserve de la licence que vous octroyez à The_Hacking_Project dans ces Conditions de Participations et des conditions d’utilisation applicables de Github et des autres Services Tiers éventuellement utilisés pour la création de ce Contenu.<br><br>
	  		  			En cas de désaccord entre les Participants, The_Hacking_ Project n’est pas responsable de départager à qui appartient quel Contenu, et The_Hacking_Project pourra aider à déterminer la propriété de chacun en fournissant le log des upload su Github aux parties concernées.</p>
	  				<h3>Comment The_Hacking_Project et d'autres Participants peuvent utiliser le Contenu d’un Participant</h3>
	  		  			<p>Les Participants uploaderont leur Contenu sur Github et ce faisant le partageront avec The_Hacking_Project, les enseignants et/ou d'autres Participants pour les besoins de la Formation.<br><br>
	  		  			En uploadant votre Contenu sur Github, vous le soumettez à la licence prévue par Github : https://help.github.com/articles/github-terms-of-service/#d-user-generated-content.<br><br>
	   		  			Aucune disposition des présentes Conditions ne restreint les autres droits légaux dont The_Hacking_Project pourrait bénéficier sur le Contenu d’un Participant ou des Participants, par exemple en vertu d'autres licences.<br><br>
	  		  			Nous nous réservons le droit de supprimer ou de modifier le Contenu d’un Participant pour quelque raison que ce soit, y compris le Contenu d’un Participant que nous estimons être en violation des présentes Conditions. Tout comme Github se réserve le même droit.</p>
	  				<h3>Commentaire</h3>
	  		  			<p>Nous apprécions toujours de recevoir vos suggestions, idées, commentaires et autres retours sur la Formation (ci-après désignés comme les "Commentaires"). En envoyant des Commentaires, vous nous accordez le droit de les utiliser sans restriction ni compensation à votre égard. En acceptant vos Commentaires, The_Hacking_Project ne renonce à aucun droit d'utiliser d'autres Commentaires similaires ou connexes, déjà connus par The_Hacking_Project, développés par ses employés ou par ses sous-traitants, ou obtenus auprès d'autres sources.</p>
	  				<h2>Sécurité</h2>
	  		  			<p>La sécurité de nos Participants nous importe. The_Hacking_Project ne peut pas garantir que des tiers non autorisés ne réussiront jamais à vaincre les mesures de sécurité des Services Tiers. The_Hacking_Project n’est pas hébergeur et ne saurait donc être responsable de toute compromission ou utilisation non autorisée de votre compte.</p>
	  				<h2>Prix</h2>
	  		  			<p>The_Hacking_Project souhaite proposer une Formation ouverte et accessible à tous et que l’argent ne soit pas un frein pour y accéder. The_Hacking_Project compte sur chacun de ses Participants pour apporter présence, entraide, soutien et encouragement aux autres membres de son groupe, « l’esprit de corps », et ainsi aider tous les membres d’un groupe à arriver au terme de la Formation.<br><br>
	  		  			Le prix de la Formation est de 200€ : 1€ sera payé à l'inscription afin de la valider, 199€ seront payables uniquement en cas d’Abandon d’un Participant. L’Abandon est caractérisé lorsqu’un Participant n’uploade pas sur Github le projet que le Participant devait remettre selon le Calendrier remis en début de Formation.<br><br>
	  		  			Lors de l’inscription, une empreinte bancaire d’un moyen de paiement du Participant sera prise. Un paiement de 1€ sera effectué à l'inscription. Ce n’est qu’en cas d’Abandon d’un Participant que le compte bancaire rattaché à la carte bleue de ce Participant sera débité du reste du prix de la Formation (199€).<br><br>
	  		  			Si un Participant termine la Formation (et donc n’Abandonne pas), il sera dispensé du paiement des 199€ restants du prix</p>
	  				<h2>Modification et fin de la Formation</h2>
	  		  			<p>Nous modifions et améliorons constamment notre Formation. Nous pouvons ajouter ou supprimer des fonctions, des fonctionnalités ou des conditions et nous pouvons suspendre, modifier ou mettre complètement fin à une Formation, un Groupe, un Calendrier ou un Projet. En conséquence, The_Hacking_Project peut mettre fin à votre Participation à la Formation pour quelque raison que ce soit. Si nous mettons fin à votre Participation à la Formation, il ne sera pas nécessaire de payer le Prix de la Formation.
	  		  			L'ensemble de The_Hacking_Project et ses enseignants, les Participants et ses autres partenaires commerciaux, ainsi que leurs employés, sous-traitants et autres agents (déclinent toute responsabilité envers vous pour ladite action.
	  		  			Vous pouvez mettre fin à votre Participation à notre Formation à tout instant. Nous serons désolés de vous voir partir mais surtout vous pénaliserez fortement les membres de votre Groupe. La fin de votre Participation à la Formation sera constitutive d’un Abandon et vous occasionnera le paiement du prix de la Formation.</p>
	  				<h2>Exonérations</h2>
	  		  			<p>LA FORMATION ET TOUT LES CONTENUS INCLUS SONT FOURNIS "EN L'ÉTAT" SANS AUCUNE GARANTIE EXPRESSE OU IMPLICITE. THE_HACKING_PROJECT, SES REPRESENTANTS LEGAUX ET PROFESSEURS DÉCLINENT SPÉCIFIQUEMENT TOUTES LES GARANTIES ET CONDITIONS DE VALEUR MARCHANDE, D'ADÉQUATION À UN USAGE PARTICULIER ET DE NON-INFRACTION, ET TOUTE GARANTIE DÉCOULANT D'UNE NÉGOCIATION OU D'UNE COMMERCIALISATION. THE_HACKING_PROJECT, SES REPRESENTANTS LEGAUX ET PROFESSEURS DÉCLINENT EN OUTRE TOUTE RESPONSABILITÉ RELATIVE À VOTRE PARTICIPATION A LA FORMATION, A VOTRE ACCÈS OU UTILISATION DE SERVICES TIERS OU DE TOUT CONTENU AFFÉRENT. VOUS RECONNAISSEZ ET ACCEPTEZ QUE TOUTE PARTICIPATION A LA FORMATION, TOUT ACCÈS OU TOUTE UTILISATION DES SERVICES TIERS OU DUDIT CONTENU S'EFFECTUE À VOS PROPRES RISQUES.</p>
	  				<h2>Limitation de responsabilité</h2>
	 	 	  			<p>DANS TOUTE LA MESURE AUTORISÉE PAR LA LOI, THE_HACKING_PROJECT, SES REPRESENTANTS LEGAUX ET PROFESSEURS DÉCLINENT TOUTE RESPONSABILITÉ CONTRACTUELLE OU DELICTUELLE POUR TOUS DOMMAGES OU PERTES DE CHANCE, DIRECTS OU INDIRECTS RÉSULTANT DE : (A) VOTRE PARTICIPATION OU VOTRE IMPOSSIBILITE DE PARTICIPER OU DE TERMINER LA FORMATION, (B) VOTRE ACCÈS OU UTILISATION OU VOTRE IMPOSSIBILITÉ D'ACCÈS OU D'UTILISATION DES SERVICES TIERS ; (C) TOUTE CONDUITE OU TOUT CONTENU DE PARTICIPANT OU DE TIERS, Y COMPRIS, MAIS SANS S'Y LIMITER, TOUTE CONDUITE DIFFAMATOIRE, INSULTANTE OU ILLÉGALE ; OU (D) TOUT ACCÈS, UTILISATION OU ALTÉRATION NON AUTORISÉS DE VOTRE CONTENU OU DE VOS DONNÉES. L’EVENTUELLE RESPONSABILITÉ GLOBALE DE THE_HACKING_PROJECT POUR TOUTE RÉCLAMATION RELATIVE A LA FORMATION NE DÉPASSERA EN AUCUN CAS DEUX CENT EUROS (200 €) SOIT LE MONTANT TOTAL DES FRAIS PERÇUS PAR THE_HACKING_PROJECT QUE VOUS VERSERIEZ EN CAS D’ABANDON DE LA FORMATION, SELON LE MONTANT LE PLUS ÉLEVÉ.<br><br>
	  		  			VOUS RECONNAISSEZ ET ACCEPTEZ QUE LES EXONÉRATIONS ET LIMITATIONS DE GARANTIE DÉFINIES AUX PRÉSENTES CONDITIONS D'UTILISATION REFLÈTENT UNE RÉPARTITION JUSTE ET RAISONNABLE DES RISQUES ENTRE VOUS ET THE_HACKING_PROJECT, ET QUE CES LIMITATIONS CONSTITUENT UNE BASE ESSENTIELLE POUR QUE THE_HACKING_PROJECT PUISSE METTRE LA FORMATION À VOTRE DISPOSITION DANS DES CONDITIONS ÉCONOMIQUEMENT RÉALISABLES.<br><br>
	  		  			VOUS ACCEPTEZ QUE TOUT RECOURS RELATIF AUX SERVICES DOIT COMMENCER DANS L'ANNÉE QUI SUIT LA CAUSE DUDIT RECOURS. SI TEL N'EST PAS LE CAS, LADITE CAUSE DE RECOURS EST DÉFINITIVEMENT ÉCARTÉE.</p>
	  				<h2>Indemnisation</h2>
	  		  			<p>Vous acceptez d'indemniser, de défendre et de dégager The_Hacking_Project, ses représentants légaux et progesseurs de toute réclamation, responsabilité, dépense et de tout dommage, y compris des frais d'avocat, demandés par tout tiers relativement à : (a) votre utilisation ou tentative d'utilisation de la Formation en violation aux présentes Conditions ; (b) votre violation de toute loi ou de tout droit d'un tiers, quel qu'il soit ; ou (c) du Contenu d’un Participant, y compris, mais sans s'y limiter, toute réclamation de violation ou de détournement de droits de propriété intellectuelle ou d'autres droits de propriété.</p>
	  				<h2>Loi et juridiction applicables</h2>
	  		  			<p>La Formation est dispensée par The_Hacking_Project SAS, dont le siège social se trouve à Paris, France. Vous acceptez que tout litige relatif aux présentes Conditions sera régi par la loi française, à l'exclusion de leurs dispositions sur les conflits de lois, et tranché pour le tribunal compétent dans le ressort de la Cour d’appel de Paris, France.</p>
	  				<h2>Conditions générales</h2>
	  				<h3>Révision des Conditions</h3>
	  		  			<p>Nous nous réservons le droit de réviser les Conditions à tout instant, à notre entière discrétion. Toute révision apportée aux Conditions prend effet immédiatement, dès que nous la publions. En cas de changements importants apportés aux Conditions, nous prenons des mesures raisonnables pour vous avertir desdits changements. Dans tous les cas, le fait de continuer de participer à la Formation après publication desdits changements, avec ou sans notification de notre part, constitue une acceptation ferme des Conditions révisées.</p>
	  				<h3>Autonomie des dispositions ; renonciation</h3>
	  		  			<p>Si l'une des dispositions des présentes Conditions n'est pas applicable, cela n'affecte aucune des autres dispositions. Si vous ne respectez pas les présentes Conditions et si nous ne prenons pas immédiatement des mesures, cela ne signifie pas que nous renonçons à l'un quelconque de nos droits (notamment celui de prendre des mesures à l'avenir).</p>
	  				<h3>Services tiers</h3>
	  		  			<p>Les Services Tiers sont régis par leurs propres Conditions Générales, Conditions Particulières et/ou Conditions d’Utilisation ou toute autres conditions qui régissent l’utilisation de ces Services Tiers. Votre participation à la Formation et votre utilisation de ces Services Tiers emporte votre acceptation de vous conformer à ces propres Conditions Générales, Conditions Particulières et/ou Conditions d’Utilisation de ces Services Tiers.</p>
	  				<h2>Politiques référencées</h2>
	  				<ul>
	    				<li><a href="https://fr.coursera.org/about/terms/acceptableUse">Politique d'utilisation acceptable</a></li>
	    				<li><a href="https://fr.coursera.org/about/terms/copyright">Politique de violation de copyright et de marque commerciale</a></li>
	    				<li><a href="https://fr.coursera.org/about/privacy">Politique de confidentialité</a></li>
	    				<li><a href="https://fr.coursera.org/about/privacy/safeHarbor">Politique de sphère de sécurité</a></li>
	    				<li><a href="https://fr.coursera.org/about/terms/refund">Politique de remboursement</a></li>
	    				<li><a href="https://fr.coursera.org/about/terms/honorcode">Code d'honneur</a></li>
	  				</ul>
	  				<p><i>En vigueur à partir du 16 juin 2017.</i></p>
	  				<h2 class="ui header">Politique d'utilisation acceptable</h2>
	  				<div class="ui divider"></div>
	  					<p>The_Hacking_Project considère que l'enseignement devrait facile d'accès et ouvert à tous. The_Hacking_Project s’est donné comme mission de proposer une formation gratuite de code, sur un modèle d'apprentissage autonome, par projet. Nous croyons fermement à la préservation de la liberté d'expression de nos Participants. Nous voulons également assurer que tous nos Participants et enseignants se sentent en sécurité et à l'aise lorsqu'ils participent à notre Formation. Nous avons établi ces directives afin que les personnes comprennent et respectent les règles de Participation à notre communauté et à la participation à notre Formation en général.<br><br>
	  					Nous ne filtrons pas et ne surveillons pas systématiquement le contenu fourni par les Participants, mais nous pouvons retirer ou modifier un contenu ou une activité inappropriés, qui nous ont été signalés, ou suspendre, désactiver ou mettre fin à l'accès d'un Participant à l'ensemble ou à une partie de la Formation.<br><br>
	  					Dans le cadree de notre Formation, il vous est interdit de partager du contenu qui :</p>
	  				<ul style="font-size: 14px;">
	    				<li>Contient un contenu illégal ou encourage des activités illégales dans l'intention de commettre lesdites activités. N'oubliez pas que l'âge minimum des Participants à The_Hacking_Project est de 15 ans, et nous n'autorisons pas de contenu inapproprié à des Participants si jeunes.</li>
	    				<li>Contient des menaces crédibles ou organise des actes de violence dans le monde réel. Nous n'autorisons pas les contenus qui créent un risque réel de blessures ou de dommages matériels, qui menacent de façon plausible les personnes ou la sécurité du public ou qui organisent ou favorisent la violence.</li>
	    				<li>Harcèle les autres. Nous favorisons les commentaires sur les personnes et les questions d'intérêt public, mais un contenu insultant ou inapproprié de quelque autre façon que ce soit destiné à des personnes privées n'est pas autorisé.</li>
	    				<li>Se trouve en violation de droits de propriété intellectuelle, de confidentialité ou d'autres droits. Ne partagez pas du contenu que vous n'avez pas le droit de partager, ne revendiquez pas comme le vôtre du contenu que vous n'avez pas créé vous-même, et ne portez pas atteinte et ne détournez pas de quelque autre façon que ce soit les droits de propriété intellectuelle ou d'autres droits d'une autre personne. Attribuez toujours le contenu que vous utilisez ou que vous citez à son propriétaire de copyright d'origine.</li>
	    				<li>Relaie des spams. Ne partagez pas du contenu hors de propos ou inapproprié, publicitaire, promotionnel ou de sollicitation.</li>
	    				<li>Se trouve en violation des Conditions d'utilisation de The_Hacking_Project, de quelque autre façon que ce soit. Veuillez noter que certains cours peuvent imposer des règles et des critères supplémentaires.</li>
	  				</ul>
	  			<p>Les actions suivantes vous sont également interdites :</p>
	  				<ul style="font-size: 14px;"	>
	    				<li>Toute action en violation des lois nationales ou internationales ou en violation de vos obligations contractuelles ou fiduciaires.</li>
	    				<li>Partager votre mot de passe, permettre à toute personne d'accéder à votre compte ou toute action pouvant porter atteinte à la sécurité de votre compte. Tenter d'accéder au compte d'un autre Participant.</li>
	    				<li>Reproduire, transférer, vendre, revendre ou abuser de quelque autre façon que ce soit tout contenu provenant de notre Formation, sauf autorisation spécifique.</li>
	    				<li>Accéder à, falsifier ou utiliser des parties non publiques de nos systèmes, sauf autorisation spécifique.</li>
	    				<li>Déjouer ou contourner nos mesures d'authentification ou de sécurité, ou mettre à l'épreuve la vulnérabilité de nos systèmes ou réseaux, de quelque autre façon que ce soit, sauf autorisation spécifique.</li>
	    				<li>Soumettre toute portion de notre Formation à une ingénierie inverse.</li>
	    				<li>Tenter de perturber un Participant, un hôte ou un réseau, par exemple par l'envoi d'un virus ou de spams ou par une surcharge ou un mail-bombing.</li>
	    				<li>Utiliser notre Formation pour distribuer des logiciels malveillants.</li>
	    				<li>Déguiser ou représenter faussement toute personne ou entité.</li>
	    				<li>Encourager ou aider quiconque dans l'une des actions de cette liste.</li>
	  				</ul>
	  			<p><i>En vigueur à partir du 16 juin 2017.</i></p>
	  				<h2 class="ui header">Politique de copyright et de marque commerciale</h2>
		  			<div class="ui divider"></div>
			  			<p>The_Hacking_Project respecte les droits de propriété intellectuelle des Services Tiers sur lesquelles la Formation s’appuie et de ses Participants, et attend des Participants qu'ils en fassent de même lorsqu'ils participent à la Formation. Nous nous réservons le droit d’exclure temporairement ou définitivement de la Formation ses Participants en cas de violation répétée ou d’accusation de violation de façon répétée des droits de copyright, de marque commerciale ou d'autres droits de propriété intellectuelle de tiers.<br><br>
			  			The_Hacking_Project respecte également les droits de marque commerciale des autres. The_Hacking_Project se réserve donc le droit, à son entière discrétion, de mettre à jour, suspendre, désactiver ou résilier les comptes dont le contenu trompe un tiers ou porte atteinte à la marque commerciale d'un tiers. Si vous êtes préoccupés par une utilisation de votre marque commerciale sur notre Formation qui pourrait porter atteinte à vos droits, veuillez nous envoyer un e-mail à bonjour@thehackingproject.org, et nous étudierons votre réclamation. Si nous l'estimons appropriée, nous pourrons retirer le contenu offensant, adresser un avertissement au Participant ayant publié ce contenu et/ou suspendre ou désactiver, de façon temporaire ou définitive, le compte de ladite personne.</p>
			  			<p><i>En vigueur à partir du 16 juin 2017.</i></p>
	  				<h2 class="ui header">Code d'honneur</h2>
		  			<div class="ui divider"></div>
			  		<p>Tous les élèves participant au cours doivent accepter de respecter le code de conduite suivant :</p>
			  		<ol style="font-size: 14px;">
			    		<li>Je m'inscrirai en utilisant un seul compte.</li>
			    		<li>Mes réponses aux Projets, exercices, quiz, examens, projets et autres devoirs seront mes propres travaux (sauf pour les devoirs qui autorisent explicitement une collaboration).</li>
			    		<li>Je ne mettrai pas mes solutions aux Projets, exercices, quiz, examens, projets et autres devoirs à la disposition de quiconque (sauf dans la mesure où un devoir autorise explicitement le partage de solutions). Cela inclut les solutions rédigées par moi-même, ainsi que toute solution fournie par le personnel enseignant du cours ou par un tiers.</li>
			    		<li>Je ne participerai à aucune autre activité permettant d'améliorer mes résultats ou d'améliorer ou d'aggraver les résultats des autres de façon malhonnête.</li>
			  		</ol>
		    	</div>
	  			</div>
			</div>
		</div>
	</div>

</div>
<button type="button" class="btn btn-success" id="bouton-cgv">Je reconnais avoir les les conditions de participation à la formation de The Hacking Project et accepte que me soit prélevé 1€ pour procéder à l'enregistrement de ma carte bancaire</button>

<div id="paiement" style="display: none; width: 100%; text-align: center; margin-top: 15em;" >
		<p>Clique sur le bouton ci-dessous pour procéder au règlement des 1€ necessaire à l'enregistrement de ta carte et <br>procéder au remplissage du questionnaire d'inscription.</p> 

		 <div id="center-div">
    		<%= form_tag charges_path do %>
      		<article>
	        	<% if flash[:error].present? %>
	          	<div id="error_explanation">
	            	<p><%= flash[:error] %></p>
	          	</div>
	        	<% end %>
	        	<label class="amount">
	        	</label>
      		</article>

      		<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="The Hacking Project"
              data-description="😊 🙌 💻"
              data-amount="100"
              data-locale="auto"
              data-currency="eur">
      		</script>
    <% end %>
  </div>
</div>






