<p>Salut, voici un message reçu par le contact form. Répond lui avec amour et surtout: répond lui. N'oublie pas il travaillera peut-être avec toi un jour :D.
<br>
Message envoyé par <%=@prenom%> <%=@nom%>, il a l'adresse <%= @mail%> </p>

<p>Le message:
<br>
<%=@body%>
</p>