<div style="margin-top: 20em; margin-left: 25em; white-space: normal;">
<%= button_to("Finir mon inscription en remplissant le formulaire complet d'inscription, il doit être rempli dès maintenant",  survey_path, :class => "btn btn-success") %>
</div>